DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wealth_fintech_db"
JWT_SECRET="your-jwt-secret-key-32-chars-minimum-super-secure"

# pyPSX Broker Trading API (Sandbox)
PYPSX_BASE_URL="https://brokerapi.pypsx.com"
PYPSX_ORG_API_KEY_ID="PYPSX-SANDBOX-PYPSXOFFICIA-9B452FCA794F"
PYPSX_ORG_API_SECRET_KEY="YjtgSOYjpA0httBX5xSne6TVIu1XgYRabk1YvWVYAJI"

# pyPSX KYC API
KYC_BASE_URL="https://brokerapi.pypsx.com"
KYC_ORG_API_KEY_ID="KYC_IONNYUQYPWYHWWSI"
KYC_ORG_API_SECRET_KEY="USZIMT3MBVUPO7RTWXWRDNOG34JJ5PL2OHW3E5Y"

NEXT_PUBLIC_DEMO_API_MOCK=false
